<h2> Edit your article </h2>
<p>Original Title: <%=@article.title%></p>
<p>Original Content: <%=@article.content%></p>

<form method="post" action="/articles/<%=@article.id%>">
<input id="hidden" type="hidden" name="_method" value="patch">
<p>Title: <input type="text" name="title"</p>
<p>Content: <input type="text" name="content"</p>
<input type="submit" id="submit">
</form>